[Unit]
Description=Run bot WA

[Service]
ExecStart=nohup python3 /root/.bot/index.py &
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
